/* This file should contain styles that modifies the popup layout. */
/* By layout, we mean the physical position of the elements on the popup window, and the margin / padding around those elements. */

.cc-revoke.cc-top {
  top: 0;
  left: 3em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.cc-revoke.cc-bottom {
  bottom: 0;
  left: 3em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.cc-revoke.cc-left {
  left: 3em;
  right: unset;
}
.cc-revoke.cc-right {
  right: 3em;
  left: unset;
}

/**************************************** FLOATING ****************************************/

/* these classes position the floating element */
.cc-top {
  top: 1em;
}
.cc-left {
  left: 1em;
}
.cc-right {
  right: 1em;
}
.cc-bottom {
  bottom: 1em;
}

/* links that are direct decendants should be displayed as block */
.cc-floating > .cc-link {
  margin-bottom: 1em;
}

.cc-floating .cc-message {
  display: block;
  margin-bottom: 1em;
}

.cc-window.cc-floating .cc-compliance {
  flex: 1 0 auto;
}

.cc-centered {
  left: 50%;
  transform: translate(-50%);
  top: 50px;
}

/**************************************** BANNER ****************************************/

.cc-window.cc-banner {
  align-items: center;
}

.cc-banner.cc-top {
  left: 0;
  right: 0;
  top: 0;
}
.cc-banner.cc-bottom {
  left: 0;
  right: 0;
  bottom: 0;
}

.cc-banner .cc-message {
  display: block;
  flex: 1 1 auto;
  max-width: 100%;
  margin-right: 1em;
}

/* COMPLIANCE BOX */

.cc-compliance {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cc-floating .cc-compliance > .cc-btn {
  flex: 1;
}

.cc-btn + .cc-btn {
  margin-left: 0.5em;
}

/* Categories Layout */
.cc-window.cc-type-categories {
  display       : inline-flex;
  flex-direction: column;
  overflow      : visible;
  .form{
    text-align: right;
  }
  .cc-btn {
    display       : inline-block;
  }
}
.cc-categories {
  display: inline-flex;
  .cc-category{
    display  : flex;
    max-width: 100%;
    margin   : 0 50px 0 0;
    position : relative;
  }
  label {
    display: block;
    position: relative;
    padding: 4px 4px 4px 35px;
    cursor: pointer;
    input[type=checkbox]{
      position: absolute;
      top: 4px;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #fff;
      border-radius: 4px;
      border: 2px solid #666;
    }
  }
  .cc-btn {
    position: relative;
    border-right: none;
    outline     : none;
    text-transform: capitalize;
  }
  .cc-info {
    border : none;
    padding     : 4px;
    font-variant: all-small-caps;
    cursor: pointer;
    outline: none;
    width: 26px;
    background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><g id="Icons" style="opacity:0.75;"><g id="help"><path id="circle" style="fill-rule:evenodd;clip-rule:evenodd;" d="M12.001,2.085c-5.478,0-9.916,4.438-9.916,9.916 c0,5.476,4.438,9.914,9.916,9.914c5.476,0,9.914-4.438,9.914-9.914C21.915,6.523,17.477,2.085,12.001,2.085z M12.002,20.085 c-4.465,0-8.084-3.619-8.084-8.083c0-4.465,3.619-8.084,8.084-8.084c4.464,0,8.083,3.619,8.083,8.084 C20.085,16.466,16.466,20.085,12.002,20.085z"/> <g id="question_mark"><path id="top" style="fill-rule:evenodd;clip-rule:evenodd;" d="M11.766,6.688c-2.5,0-3.219,2.188-3.219,2.188l1.411,0.854 c0,0,0.298-0.791,0.901-1.229c0.516-0.375,1.625-0.625,2.219,0.125c0.701,0.885-0.17,1.587-1.078,2.719 C11.047,12.531,11,15,11,15h1.969c0,0,0.135-2.318,1.041-3.381c0.603-0.707,1.443-1.338,1.443-2.494S14.266,6.688,11.766,6.688z" /><rect id="bottom" x="11" y="16" style="fill-rule:evenodd;clip-rule:evenodd;" width="2" height="2"/></g></g></g></svg>') right no-repeat;
    &:focus + .cc-tooltip{
      display: block;
    }
  }
  .cc-select-all {
    background-color: #99007c;
  }
  .cc-tooltip{
    display      : none;
    position     : absolute;
    z-index      : 3;
    width        : 190px;
    right        : -180px;
    bottom       : 46px;
    padding      : 8px;
    border       : thin solid lightgrey;
    box-shadow: 1px 1px 4px rgba( 150, 150, 150, .7 );
    &:after{
      content   : "";
      width     : 10px;
      height    : 10px;
      transform : rotate(45deg);
      position  : absolute;
      bottom    : -7px;
      left      : 10px;
      box-shadow: 2px 1px 1px rgba( 200, 200, 200, .5 );
    }
    p {
      margin: 0;
    }
  }
}